<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <div id="myDIV" class="header">
            <h2>My To Do List</h2>
            <input type="text" id="myInput" placeholder="Title..." v-model="inputValue" @keyup.enter="newElement">
            <span @click="newElement" class="addBtn">Add</span>
        </div>

        <ul id="myUL" v-show="todos.length" v-cloak>
            <li v-for="todo in todos" :key="todo.id" v-show="todo.visible" @click="isChecked($event, todo)"
                :class="{ checked: todo.completed }">
                {{ todo.title }}
                <span class="close" @click="closeTodo(todo)">×</span>
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>

</html>